<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="User Authentication">
	<meta name="author" content="">

	<title>User Authentication</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>

<body ng-app="interceptedLogin">

<div class="container">

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						{{#if user}}
						<p class="navbar-text">
							<strong>Hi,</strong>
							<img src="{{user.avatar}}" width="20" height="20">
							{{user.username}}
						</p>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/logout">Log Out</a>
					</li>
					{{else}}
					<a href="/signin">Sign In</a>
					</li>
					{{/if}}
				</ul>
			</div> -->
		</div>
	</nav>

	
	<p ng-if="error" class="alert alert-warning">{{ error}}</p>
	
	<p ng-if="alert" class="alert alert-success">{{success}}</p>
	
	<p ng-if="notice" class="alert alert-info">{{notice}}</p>

	<ng-view></ng-view>

	<button ng-click=" refreshSession() ">refresh session</button>
	::
	<!--<button ng-click=" logout() ">logout</button>-->
	<a href="/logout">logout</a>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<script>
	var interceptedLogin = angular.module('interceptedLogin',['ngRoute','ngResource']);
	
	interceptedLogin.config( function($routeProvider) {
		$routeProvider
			.when('/', {
				templateUrl: 'partials/home.html'
			})
			.when('/signin', {
				templateUrl: 'partials/signin.html'
			})
			.otherwise({redirectTo:'/'});
	} );
	
	interceptedLogin.factory('sessionWebService', function($resource){
		return $resource("/session");	
	});
//	interceptedLogin.factory('logoutWebService', function($resource){
//		return $resource("/logout");	
//	});
	
	interceptedLogin.factory('refreshSession', function($rootScope,sessionWebService){
		
		return function refreshSession() {
			sessionWebService.get( function(user) {
				if (user.username) $rootScope.user = user;
			});
		};
		
	} );
	
	interceptedLogin.run( function($rootScope,refreshSession) {
		refreshSession();
		$rootScope.refreshSession = refreshSession;
	});
</script>
</body>
</html>
