<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="User Authentication">
	<meta name="author" content="">

	<title>User Authentication</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>

<body ng-app="interceptedLogin">

<div class="container">

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						{{#if user}}
						<p class="navbar-text">
							<strong>Hi,</strong>
							<img src="{{user.avatar}}" width="20" height="20">
							{{user.username}}
						</p>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/logout">Log Out</a>
					</li>
					{{else}}
					<a href="/signin">Sign In</a>
					</li>
					{{/if}}
				</ul>
			</div> -->
		</div>
	</nav>

	
	<p ng-if="error" class="alert alert-warning">{{ error}}</p>
	
	<p ng-if="alert" class="alert alert-success">{{success}}</p>
	
	<p ng-if="notice" class="alert alert-info">{{notice}}</p>

	<ng-view></ng-view>

	<footer>
		<hr />
		
		<button class="btn btn-default" ng-click=" callRandom() ">callRandom</button>
		::
		<button class="btn btn-default" ng-click=" refreshSession() ">refresh session</button>
		::
		<!--<button ng-click=" logout() ">logout</button>-->
		<a class="btn btn-default" href="/logout">logout</a>
		
	</footer>
</div>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script>
	var interceptedLogin = angular.module('interceptedLogin',['ngRoute','ngResource','ui.bootstrap']);
	
	interceptedLogin.config( function($routeProvider) {
		$routeProvider
		.when('/', {
			templateUrl: 'partials/home.html'
		})
		.when('/signin', {
			templateUrl: 'partials/signin.html'
		})
		.when('/boringform', {
			templateUrl: 'partials/boringform.html'	
		})
		.otherwise({redirectTo:'/'});
	} );
	
	interceptedLogin.factory('sessionWebService', function($resource){
		return $resource("/session");	
	});
//	interceptedLogin.factory('logoutWebService', function($resource){
//		return $resource("/logout");	
//	});
	
	interceptedLogin.factory('refreshSession', function($rootScope,sessionWebService){
		
		return function refreshSession() {
			sessionWebService.get( function(user) {
				if (user.username) $rootScope.user = user;
			});
		};
		
	} );
	
	interceptedLogin.factory('randomWebService', function($resource) {
		return $resource('/randomstuff');
	});
	
	interceptedLogin.run( function($rootScope,refreshSession,randomWebService) {
		refreshSession();
		$rootScope.refreshSession = refreshSession;
		$rootScope.callRandom = function() {
			randomWebService.get();	
		};
	});
	
	interceptedLogin.controller('BoringFormController', function( $scope, $window, $modal, randomWebService ) {
		$scope.submitForm = function() {
			var formPromise = randomWebService.get().$promise;
			
			formPromise.then( function() {
				$window.alert('tout roule!');
			});
			
//			formPromise.catch( function( error ) {
//				if (error.status == 401 ) {
//					var moudale = $modal.open({
//						backdrop: 'static',
//						keyboard: false,
//						templateUrl: 'partials/loginBox.html',
//						size: 'sm',
//						//windowClass: 'jambon',
//						controller: 'ModalLoginController',
//						scope: $scope //this makes the dialog a child scope of this controller scope, and not rootScope
//					});
//					
//					moudale.result.then( function() {
//						//Si on loggin avec Succes, alors on reprend la requête
//						$scope.submitForm();
//					});
//				}
//			});
		};
	});
	
	interceptedLogin.controller('ModalLoginController', function( $scope, $http, $modalInstance ) {
		$scope.submit = function() {
			$http.post('login', $scope.credentials ).success( function(response) {
				console.log(response);
				$modalInstance.close( 'ok dude' );
			} ).error( function(error) {
				console.error(error);
			} );
		}
	});

	/**
	 * Intercepte les appels qui renvoient 401, et appel au login
	 */
	interceptedLogin.factory('error401Interceptor', function($log,$rootScope,$q) {
		return {
			'responseError': function(rejection) {
				if (rejection.status === 401) {
					$log.log('401 responded, needing login');
					var deferred = $q.defer();
					$rootScope.$broadcast( 'LOGIN_REQUIRED', deferred );
					//return deferred.promise;
				}
				return $q.reject(rejection); //default behaviour for errors
			}
		};
	});
	interceptedLogin.config( function( $httpProvider ) {
		$httpProvider.interceptors.push('error401Interceptor');
	});

	/**
	 * Ouvre la popin de login quand un reloggin est requis
	 */
	interceptedLogin.run( function($rootScope,$modal) {
		var modalLoginOpened = false;
		$rootScope.$on('LOGIN_REQUIRED', function(){
			if ( !modalLoginOpened ) {
				var moudale = $modal.open({
					backdrop: 'static',
					keyboard: false,
					templateUrl: 'partials/loginBox.html',
					size: 'sm',
					//windowClass: 'jambon',
					controller: 'ModalLoginController',
					scope: $rootScope //this makes the dialog a child scope of this controller scope, and not rootScope
				});
				modalLoginOpened = true;
				moudale.result.finally( function() {
					modalLoginOpened = false;
				});
			}
		});
	});



</script>
</body>
</html>
